@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  color: #25304C;
  background-color: #F5F5F5;
  padding-bottom: 30px;
  display: flex;
}
.myPost {
  margin: 50px;
  padding: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform ease 300ms;
  background-color: white;
  border-bottom: 7px solid #1370B5;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  background-image: url(../assets/pattern-1.png);
}
.myPost:hover{
  transform:  translate(0, -30px); 
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .myPost {
    width: 400px;
    margin: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
  }
}