@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  color: #25304C;
  background-color: #F5F5F5;
  padding-bottom: 30px;
}
.myPost {
  margin: 20px;
  padding: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform ease 300ms;
}
.myPost:hover{
  background-color: white;
  border-bottom: 6px solid #1370B5;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  transform:  translate(0, -20px);
  background-image: url(../assets/pattern-1.png);
}
